entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "imagemagick"]

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[env]
PORT = "5000"

[agent]
stack = "EXPO"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start dev servers"

[[workflows.workflow]]
name = "Start dev servers"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run all:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[userenv]

[userenv.shared]
WEBAPP_URL = "https://roachy.games"
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "433710630203-jc09iek5p6e9ug8qgjtd0l0pca904cvg.apps.googleusercontent.com"

